* { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    background-color: aliceblue; 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

h1 { 
    text-transform: uppercase; 
    margin-bottom: 70px; 
}

.quote { 
    font-family: 'Berkshire Swash', cursive; 
    border: 1px dashed black; 
    border-radius: 5px; 
    width: 500px;
    margin: auto;
}

div { 
    text-align: center; 
}

button { 
    background-color: blue; 
    color: white; padding: 20px 40px; 
    box-shadow: 2px 6px silver; 
    border-radius: 5px; 
    height: 20px; 
    width: 300px; 
    line-height: 1px; 
}

button:hover { 
    background-color: white; 
    color: black; 
    cursor: pointer;
}

.trigger { 
    margin-top: 30px; 
}

.tweeter { 
    margin-top: 30px; 
}
